{% extends 'base.html' %}
{% load static %}
{% load cloudinary %}

{% block content %}
<div class="recently-released-container container">
<div class="row">
    <h3 class="center"><span class="heading-font">Hot New Music</span></h3>
</div>
<div class="row center-align">
    {% for product in recently_released %}
    <a href="{%  url 'product_detail' product.id %}">
        <div class="col s4 center-align">
            <div class="recently-released center-align">
            <div class="product">
                {% cloudinary product.cover width=200 height=200 %}
            </div>
            <h4>{{ product.album }}</h4>
        </div>
        </div>
    </a>
    {% endfor %}
</div>
</div>
<div class="decade-container">
<div class="row center-align container">
    <h3><span class="heading-font">Explore the decades...</span></h3>
</div>
<div class="row container center">
    <div class="col s6">
        <a href="{% url 'product_decades' decade=1970 %}">
            <img class="decades" src="{% static 'images/70s.jpg' %}" alt="70s">
        </a>
    </div>
    <div class="col s6">
        <a href="{% url 'product_decades' decade=1980 %}">
        <img class="decades" src="{% static 'images/80s.jpg' %}" alt="80s">
    </a>
    </div>
    <div class="col s6">
        <a href="{% url 'product_decades' decade=1990 %}">
        <img class="decades" src="{% static 'images/90s.jpg' %}" alt="90s">
    </a>
    </div>
    <div class="col s6">
        <a href="{% url 'product_decades' decade=2000 %}">
        <img class="decades" src="{% static 'images/00s.png' %}" alt="00s">
    </a>
    </div>
</div>
</div>
<div class="row center">
    <h3><span class="heading-font">Artist Spotlight</span></h3>
</div>
<div class="row center-align container">
    <div class="slider">
        <ul class="slides">
            {% for product in products %}
            {% if product.artist == "David Bowie" %}
            <li>
                <div class="product">
                    <a href="{%  url 'product_detail' product.id %}">
                        {% cloudinary product.cover width=450 height=450 %}
                    </a>
                </div>
            </li>
            {% endif %}
            {% endfor %}
        </ul>
    </div>
</div>
<div class="row center">
    <h4>David Bowie</h4>
</div>

{% endblock %}