{% extends 'base.html' %}
{% load materializecss %}

{% block page_title %}Password Reset Page{% endblock %}

{% block content %}
<div class="row container">
    <h3 class="password-heading-font">Reset Password Request</h3>
    <div class="password-reset-content">
        <form method="POST">
            <h6>Please enter your email address</h6>

            {% csrf_token %}

            {{ form.email.errors }}
            <p>
                {{ form.email | materializecss }}
                <button class="btn waves-effect waves-light">Reset Password</button>
            </p>
        </form>
    </div>
</div>
{% endblock %}