{%  extends 'base.html' %}
{% load cloudinary %}
{% load materializecss %}

{% block page_title %}Products{% endblock %}

{% block content %}
<div class="row">
  <div class="col s12 m3">
    <form method="GET">
      <div class="sort-div col s4 m12">
        <h4>Sort by...</h4>
        <div class="input-field filter-input-field">
          <select id="sort" name="sort">
            <option value="" disabled selected>Sort by</option>
            <option value="recent">Recently added</option>
            <option value="lowhigh">Price: lowest to highest</option>
            <option value="highlow">Price: highest to lowest</option>
          </select>
        </div>
      </div>
      <div class="filter-div filter-field col s4 m12">
        <h4>Filter by...</h4>
        <div class="input-field filter-input-field">
          <select multiple name="artist" id="artist">
            <option value="" disabled selected>Artist</option>
            {% for artist in artist_list %}
            <option name="artist{{ forloop.counter0 }}" value="{{ artist }}">{{ artist }}</option>
            {% endfor %}
          </select>
        </div>
        <div class="input-field filter-input-field">
          <select multiple name="genre" id="genre">
            <option value="" disabled selected>Genre</option>
            {% for genre in genres %}
            <option value="{{ genre.0 }}">{{ genre.1 }}</option>
            {% endfor %}
          </select>
        </div>
        <div class="input-field filter-input-field">
          <select name="decade" id="decade">
            <option value="" disabled selected>Decade</option>
            {% for decade in decades %}
            <option value="{{ decade }}">{{ decade }}</option>
            {% endfor %}
          </select>
        </div>
      </div>
      <div class="input-field filter-field col s4 m12 price-input-field ">
        <h5>Price range</h5>
        <div class="noUiSlider" id="price-slider" name="price"></div>
        <input id="price_min" name="price_min" type="hidden" value="">
        <input id="price_max" name="price_max" type="hidden" value="">
      </div>
      <div class="row center">
        <button class="btn waves-effect waves-light filter-button" id="filter-button" type=submit>Sort and
          Filter</button>
      </div>
    </form>
  </div>

  <div class="col s12 m9">
    {% for product in products %}
    <div class="col s6 l4">
      <div class="card">
        <a href="{%  url 'product_detail' product.id %}">
          <div class="product center hide-on-med-and-up">
            {% cloudinary product.cover width=155 height=155 alt="Album cover" %}
          </div>
          <div class="product center hide-on-med-and-down">
            {% cloudinary product.cover width=210 height=210 alt="Album cover" %}
          </div>
          <div class="product center hide-on-large-only hide-on-small-only">
            {% cloudinary product.cover width=160 height=160 alt="Album cover" %}
          </div>
        </a>
        <div class="card-content">
          <h5>{{ product.album }}</h5>
          <h5>{{ product.artist }}</h5>
          <p>{{ product.price }}</p>
          <form action="{% url 'add_to_cart' product.id %}" method="POST">
            {% csrf_token %}
            <div class="input-group">
              <input type="number" min="1" max="25" name="quantity" class="form-control" placeholder="Quantity"
                required>
              <span class="input-group-btn">
                <button class="btn waves-effect waves-light" type="submit">Add</button>
              </span>
            </div>
          </form>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>

<div class="row center">
  {% if products.has_other_pages %}
  <ul class="pagination">
    {% for i in products.paginator.page_range %}
    {% if products.number == i %}
    <li class="active page-number"><span>{{ i }}</span></li>
    {% else %}
    <li class="page-number"><a href="?page={{ i }}">{{ i }}</a></li>
    {% endif %}
    {% endfor %}
  </ul>
  {% endif %}
</div>
{% endblock %}