/*--------------------------------------------------Nav bar-------------*/
.nav-middle {
    float: none !important;
}

.cart-badge-icon {
    display: inline !important;
}

.circle-badge {
    position: relative;
    min-width: 0px !important;
    height: 18px;
    width: 18px;
    border-radius: 50% !important;
    margin-top: 7px;
    margin-left: -7px !important;
    z-index: 1;
}

/*--------------------------------------------------Home page-------------*/

.decades {
    height: 200px;
    width: 400px;
}

.slider {
    width: 50%;
    margin: auto;
}

/*--------------------------------------------------Products page-------------*/

.card {
    height: 600px;
}