{% extends 'base.html' %}
{% load materializecss %}
{% block page_title %}Edit Details{% endblock %}

{% block content %}

<div class="row container">
    <div class="col s6">
        <h4>Personal Details</h4>
        <form method="POST">
            {% csrf_token %}
            {{ edit_form | materializecss }}
            <button type="submit" class="btn waves-effect waves-light">Update details</button>
        </form>
        <a href="{% url 'profile' %}">Cancel</a>
    </div>
</div>
{% endblock %}