{% extends 'base.html' %}
{% load cloudinary %}
{% load mathfilters %}

{% block content %}
<div class="row container">
    <h3>{{ profile.first_name }}'s Profile</h3>
    <div class="right">
        <a href="{% url 'profile' %}" class="profile-nav">My details</a>
        <a href="{% url 'orders' %}" class="profile-nav">My orders</a>
    </div>
</div>

{% for order in orders %}
{% if order.purchased_by == profile.username %}
<div class="divider"></div>
<div class="row container">
    <div class="col s3">
        <h6>Order Number: {{ order.id }}</h6>
        <h6>Order Date: {{ order.date }}</h6>
        <h6>Delivery Address: {{ order.street_address }}, {{ order.town_or_city }}, {{ order.postcode }}</h6>
    </div>
    <div class="col s6 center">
        {% for purchase in purchases %}
        {% if purchase.order_id == order.id %}
        <div class="row">
            <div class="col s6 left">
                <div class="product">
                    {% cloudinary purchase.product.cover width=75 height=75 %}
                </div>
            </div>
            <div class="col s6">
                <h6>{{ purchase.product.album }} - {{ purchase.product.artist }}</h6>
                <h6>Quantity: {{ purchase.quantity }}</h6>
            </div>
        </div>
        {% endif %}
        {% endfor %}
    </div>
    <div class="col s3 right-align">
        {% for purchase in purchases %}
        {% if purchase.order_id == order.id %}
        <h6>Total: £{{ purchase.quantity|mul:purchase.product.price }}</h6>
        {% endif %}
        {% endfor %}
    </div>
</div>
<div class="divider"></div>
{% endif %}
{% endfor %}
{% endblock %}