{% extends 'base.html' %}
{% load cloudinary %}
{% load mathfilters %}

{% block page_title %}{{ user }}'s Orders{% endblock %}

{% block content %}
<div class="row container">
    <h3>{{ profile.first_name }}'s Profile</h3>
    <div class="col s2">
        <a href="{% url 'profile' %}">
            <h6 class="profile-nav">My details</h6>
        </a>
        </br>
        <a href="{% url 'orders' %}">
            <h6 class="current-page profile-nav">My orders</h6>
        </a>
    </div>

    <div class="col s10 order-container">
        {% if not orders %}
        <div class="row">
            <h5 class="no-orders">You haven't made any orders yet!</h5>
            <h5 class="no-orders">Shop now <a href="{% url 'products' %}"><i class="material-icons shop-now">shopping_basket</i></a></h5>
        </div>

        {% else %}
        {% for order in orders %}
        <div class="divider"></div>
        <div class="row">
            <div class="col s6 m2">
                <h6 class="order-product">Order Number: </br> {{ order.id }}</h6>
                <h6 class="order-product">Order Date: </br> {{ order.date }}</h6>
                
            </div>
            <div class="col s6 m3">
                <h6 class="order-product">Delivery Address: </br> {{ order.street_address }}, {{ order.town_or_city }}, {{ order.postcode }}</h6>
            </div>
            <div class="col s12 m5 center">
                {% for purchase in purchases %}
                {% if purchase.order_id == order.id %}
                <div class="row order-product-row">
                    <div class="col s6 left">
                        <div class="product order-product">
                            {% cloudinary purchase.product.cover width=75 height=75 %}
                        </div>
                    </div>
                    <div class="col s6 right">
                        <h6 class="order-product">{{ purchase.product.album }} - {{ purchase.product.artist }}</h6>
                        <h6 class="order-product">Quantity: {{ purchase.quantity }}</h6>
                    </div>
                </div>
                {% endif %}
                {% endfor %}
            </div>
            <div class="col s12 m2 right-align">
                {% for final_total in final_totals %}
                {% if final_total.0 == order.id %}
                <h6 class="order-product">Total: £{{ final_total.1 }}</h6>
                {% endif %}
                {% endfor %}

            </div>
        </div>
        <div class="divider"></div>
        {% endfor %}
        {% endif %}
    </div>
</div>
{% endblock %}