{% extends 'base.html' %}

{% block page_title %}{{ user }}'s Profile{% endblock %}

{% block content %}
<div class="row container center">
    <h3 class="profile-head">{{ profile.first_name }}'s Profile</h3>
</div>
<div class="row container">
    <div class="col s2">
        <a href="{% url 'profile' %}">
            <h6 class="current-page profile-nav">My details</h6>
        </a>
        <br>
        <a href="{% url 'orders' %}">
            <h6 class="profile-nav">My orders</h6>
        </a>
    </div>
    <div class="col s10">
        <div class="detail-container">
            <h4 class="profile-title">Personal Details</h4>
            <h5 class="profile-details">Name:</h5>
            <p class="profile-details details">{{ profile.first_name }} {{ profile.last_name }}</p>
            <br>
            <h5 class="profile-details">Email:</h5>
            <p class="profile-details details">{{ profile.email }}</p>
        </div>
        <br>
        <a href="{% url 'edit_profile' %}" class="waves-effect waves-light btn">Change Details</a>
        <a href="{% url 'password_reset' %}" class="waves-effect waves-light btn reset-password-btn">Reset Password</a>
    </div>
</div>
{% endblock %}