{% extends 'base.html' %}
{% load cloudinary %}
{% load materializecss %}
{% load mathfilters %}

{% block page_title %}Cart{% endblock %}

{% block content %}
<div class="cart-container">
    {% if cart_items %}
    {% for item in cart_items %}
    <div class="row">
        <div class="col m4 l3 hide-on-small-only">
            {% cloudinary item.product.cover width=190 height=190 alt="Album cover" %}
        </div>
        <div class="col s6 hide-on-med-and-up">
            {% cloudinary item.product.cover width=150 height=150 alt="Album cover" %}
        </div>
        <div class="col m3 l4 hide-on-small-only">
            <h4>{{ item.product.album }}</h4>
            <h5>{{ item.product.artist }}</h5>
            <p>£{{ item.product.price }}</p>
        </div>
        <div class="col s6 hide-on-med-and-up">
            <h6>{{ item.product.album }}, {{ item.product.artist }}</h6>
            <p>£{{ item.product.price }}</p>
            <p>Subtotal: £{{ item.quantity|mul:item.product.price }}</p>
        </div>
        <div class="col m3 l3">
                <form action="{% url 'adjust_cart' item.id %}" method="POST" class="form-inline">
                    {% csrf_token %}
                    <div class="form-group">
                        <div class="input-group">
                            <div class="input-group-addon">Quantity</div>
                            <input type="number" name="quantity" min="0" max="25" class="form-control"
                                value="{{ item.quantity }}">
                        </div>
                    </div>
                    <button type="submit" class="btn waves-effect waves-light">Amend</button>
                </form>
        </div>
        <div class="col m2 right-align hide-on-small-only">
            <h5>Subtotal:</h5>
            <h6>£{{ item.quantity|mul:item.product.price }}</h6>
        </div>
    </div>
    {% endfor %}
    <div class="row right-align">
        <div class="s12 col">
            <h5>Total:</h5>
            <h6>£{{ total }}</h6>
            <a href="{% url 'checkout' %}" class="btn waves-effect waves-light nav-text" role="button">Continue to
                checkout</a>
        </div>
    </div>
    {% else %}
    <div class="container center">
        <h3 class="title-font">Your cart is empty!</h3>
        <h5>Any items you add to your cart will appear here.</h5>
        <a href="{% url 'products' %}" class="btn waves-effect waves-light nav-text" role="button">Start shopping</a>
    </div>
    {% endif %}
</div>

{% endblock %}