{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block page_title %}{% endblock %}</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=BenchNine&family=Bebas+Neue&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'font-awesome/css/font-awesome.min.css' %}">
    <link href="{% static 'css/nouislider.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/custom.css' %}">

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous">
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="{% static 'js/nouislider.js' %}"></script>
    <script src="{% static 'js/script.js' %}"></script>

    {% block head_js %}
    {% endblock %}

</head>

<body>
    <nav class="nav-extended black hide-on-small-only">
        <div class="nav-wrapper row">
            <a href="{% url 'home' %}" class="brand-logo center logo">MC Records</a>
            <div class="col s4">
                <form method="GET" action="{% url 'search' %}">
                    <div class="input-field">
                        <input id="search" type="search" name="q" required>
                        <label class="label-icon" for="search"><i class="material-icons">search</i></label>
                        <i class="material-icons">close</i>
                    </div>
                </form>
            </div>
            <div class="col s2"></div>
            <div class="col s6 right-align">
                <a href="{% url 'view_cart' %}">
                    <i class="material-icons cart-badge-icon nav-text">shopping_cart</i>
                    {% if product_count > 0 %}
                    <span class="new badge right cart-badge-icon circle-badge pulse" data-badge-caption="">
                        {{ product_count }}
                    </span>
                    {% endif %}
                </a>
            </div>
        </div>
        <div class="nav-content row">
            <div class="col nav-middle brand-logo center">
                <ul class="navbar nav">
                    <li class="nav-item"><a href="{% url 'home' %}" class="nav-text">Home</a></li>
                    <li class="nav-item"><a href="{% url 'products' %}" class="nav-text">Shop Now</a></li>
                </ul>
            </div>
            <div class="col right">
                <ul class="navbar nav">
                    {% if user.is_authenticated %}
                    <li class="nav-item"><a href="{% url 'profile' %}" class="nav-text">My Account</a></li>
                    <li class="nav-item"><a href="{% url 'logout' %}" class="nav-text">Logout</a></li>
                    {% else %}
                    <li class="nav-item"><a href="{% url 'login' %}" class="nav-text">Login</a></li>
                    <li class="nav-item"><a href="{% url 'registration' %}" class="nav-text">Register</a></li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>

    <nav class="nav-extended black hide-on-med-and-up">
        <div class="nav-wrapper row">
            <a href="{% url 'home' %}" class="brand-logo center mobile-logo">MC Records</a>
            <div class="col s6">
                <a href="#" data-target="mobile-nav" class="sidenav-trigger"><i
                        class="material-icons mobilenav-icon">menu</i></a>
            </div>
            <div class="col s6 right-align">
                <a href="{% url 'view_cart' %}">
                    <i class="material-icons nav-text mobilenav-icon right-align">shopping_cart</i>
                    {% if product_count > 0 %}
                    <span class="new badge right cart-badge-icon circle-badge pulse" data-badge-caption="">
                        {{ product_count }}
                    </span>
                    {% endif %}
                </a>
            </div>
            <div class="col s12 mobile-search">
            <form method="GET" action="{% url 'search' %}">
                <div class="input-field">
                    <input id="search" type="search" name="q" required>
                    <label class="label-icon" for="search"><i class="material-icons">search</i></label>
                    <i class="material-icons">close</i>
                </div>
            </form>
        </div>
        </div>
    </nav>

    <ul class="sidenav" id="mobile-nav">
        <li class="mobile-navitem"><a href="{% url 'home' %}" class="nav-text">Home</a></li>
        <li class="mobile-navitem"><a href="{% url 'products' %}" class="nav-text">Shop Now</a></li>
        {% if user.is_authenticated %}
        <li class="mobile-navitem"><a href="{% url 'profile' %}" class="nav-text">My Account</a></li>
        <li class="mobile-navitem"><a href="{% url 'logout' %}" class="nav-text">Logout</a></li>
        {% else %}
        <li class="mobile-navitem"><a href="{% url 'login' %}" class="nav-text">Login</a></li>
        <li class="mobile-navitem"><a href="{% url 'registration' %}" class="nav-text">Register</a></li>
        {% endif %}
    </ul>


    <main>
        {% for message in messages %}
        <div class="row" id="message-card">
            <div class="col s12 m6">
                <div class="card-panel message-card">
                    <h6 class="card-title">{{message}}</h6>
                </div>
            </div>
        </div>
        {% endfor %}
        {% block content %}{% endblock %}
    </main>
    <footer class="page-footer footer">
        <a style="display: none;" href="https://www.vecteezy.com/free-vector/gradients">Gradients Vectors by
            Vecteezy</a>
        <div class="row container footer hide-on-small-only">
            <div class="col s4 left">
                <a style="color: white;" href="{% url 'products' %}">
                    <h5>Shop now</h5>
                </a>
            </div>
            <div class="col s4 center">
                <h5>Contact us</h5>
                <h6>01632 960253</h6>
                <h6>mcrecords.customerservice@gmail.com</h6>
            </div>
            <div class="col s4 right-align">
                <h5>Follow us</h5>
                <a href="https://en-gb.facebook.com/" target="blank"><i class="fa fa-facebook"></i></a>
                <a href="https://twitter.com/explore" target="blank"><i class="fa fa-twitter"></i></a>
                <a href="https://www.instagram.com/" target="blank"><i class="fa fa-instagram"></i></a>
            </div>
        </div>
        <div class="row container footer hide-on-med-and-up">
            <div class="col s12 center">
                <a style="color: white;" href="{% url 'products' %}">
                    <h5>Shop now</h5>
                </a>
            </div>
            <div class="col s12 center">
                <h5>Contact us</h5>
                <h6>01632 960253</h6>
                <h6>mcrecords.customerservice@gmail.com</h6>
            </div>
            <div class="col s12 center">
                <h5>Follow us</h5>
                <a href="https://en-gb.facebook.com/" target="blank"><i class="fa fa-facebook"></i></a>
                <a href="https://twitter.com/explore" target="blank"><i class="fa fa-twitter"></i></a>
                <a href="https://www.instagram.com/" target="blank"><i class="fa fa-instagram"></i></a>
            </div>
        </div>
        <div class="row container footer">
            <h6><i class="material-icons tiny">copyright</i> 2020 MC Records. All rights reserved.</h6>
        </div>
    </footer>

</body>

</html>