{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block page_title %}{% endblock %}</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="{% static 'css/custom.css' %}">

</head>

<body>
    <nav class="navbar navbar-dark">
        <ul class="navbar nav">
            {% if user.is_authenticated %}
            <li class="nav-item"><a href="{% url 'profile' %}">Profile</a></li>
            <li class="nav-item"><a href="{% url 'logout' %}">Logout</a></li>
            {% else %}
            <li class="nav-item"><a href="{% url 'login' %}">Login</a></li>
            <li class="nav-item"><a href="{% url 'registration' %}">Register</a></li>
            {% endif %}
        </ul>
    </nav>
    <h1>{% block page_heading %}{% endblock %}</h1>
    {% if messages %}
    <div>
        {% for message in messages %}
        {{message}}
        {% endfor %}
    </div>
    {% endif %}
    {% block content %}{% endblock %}

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous">
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    </script>
</body>

</html>